doctype html
html
	head
		meta(charset="utf-8")
		block title
			title= "imgBullshit - A minimalistic image host"
			
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')

		block scripts
	body
		block content
